%h1 Login
= form_for '/login' do |f|
  .form-group
    = f.label(:email, class:'sr-only required')
    = f.text_field(:email, class:'form-control', placeholder: 'Email')
  .form-group
    = f.label(:password, class:'sr-only required')
    = f.text_field(:password, class:'form-control', placeholder: 'Password')
  = submit_tag "Login"