%section
  %div{:id => "item_#{@item.id}"}
    %span
      Name: #{ @item.name }
    %p
      Description: #{ @item.description }
    %span
      Price: #{ @item.price }
    %span
      Status: #{ @item.status }
    %span= link_to 'Edit', edit_admin_item_path(@item)