= form_for @user do |f|
  = render partial: 'shared/errors', locals: { target: @user }
  .form-group
    = f.label(:email, class:'sr-only required')
    = f.text_field(:email, class:'form-control', placeholder: 'Email')
  .form-group
    = f.label(:password, class:'sr-only required')
    = f.text_field(:password, class:'form-control', placeholder: 'Password')
  .form-group
    = f.label(:first_name, class:'sr-only required')
    = f.text_field(:first_name, class:'form-control', placeholder: 'First Name')
  .form-group
    = f.label(:last_name, class:'sr-only required')
    = f.text_field(:last_name, class:'form-control', placeholder: 'Last Name')
  = f.fields_for :address do |a|
    .form-group
      = a.label(:address, class:'sr-only')
      = a.text_field(:address, class:'form-control', placeholder: 'Street Address')
    .form-group
      = a.label(:city, class:'sr-only')
      = a.text_field(:city, class:'form-control', placeholder: 'City')
    .form-group
      = a.collection_select(:state_id, State.all, :id, :abbr, prompt: true)
    .form-group
      = a.label(:zipcode, class:'sr-only')
      = a.text_field(:zipcode, class:'form-control', placeholder: 'Zipcode')
  = f.submit
