= form_for @user do |f|
  = render partial: 'shared/errors', locals: { target: @user }
  %section{class: 'form'}
    %h1 Create a new user account
    .form-group
      = f.label(:email, class:'sr-only required')
      = f.text_field(:email, class:'form-control', placeholder: 'Email')
    .form-group
      = f.label(:password, class:'sr-only required')
      = f.text_field(:password, class:'form-control', placeholder: 'Password')
    .form-group
      = f.label(:first_name, class:'sr-only required')
      = f.text_field(:first_name, class:'form-control', placeholder: 'First Name')
    .form-group
      = f.label(:last_name, class:'sr-only required')
      = f.text_field(:last_name, class:'form-control', placeholder: 'Last Name')
    -# = f.fields_for :address do |a|
    -#   .form-group
    -#     = a.label(:address, class:'sr-only')
    -#     = a.text_field(:address, class:'form-control', placeholder: 'Street Address')
    -#   .form-group
    -#     = a.fields_for :city do |c|
    -#       = c.label(:name, class:'sr-only')
    -#       = c.text_field(:name, class:'form-control', placeholder: 'City')
    -#       .form-group
    -#         = c.fields_for :state do |s|
    -#           = c.collection_select(:state_id, State.all, :id, :abbr, prompt: true)
    -#   .form-group
    -#     = a.label(:zipcode, class:'sr-only')
    -#     = a.text_field(:zipcode, class:'form-control', placeholder: 'Zipcode')
    %footer
      = f.submit
