= form_for @user do |f|
  = render partial: 'shared/errors', locals: { target: @user }
  .form-group
    = f.label(:email, class:'sr-only required')
    = f.text_field(:email, class:'form-control', placeholder: 'Email')
  .form-group
    = f.label(:password, class:'sr-only required')
    = f.text_field(:password, class:'form-control', placeholder: 'Password')
  .form-group
    = f.label(:first_name, class:'sr-only required')
    = f.text_field(:first_name, class:'form-control', placeholder: 'First Name')
  .form-group
    = f.label(:last_name, class:'sr-only required')
    = f.text_field(:last_name, class:'form-control', placeholder: 'Last Name')
  = f.submit
