%h1 Your Cart
%table{:board => 0, :class => "table table-striped"}
  %tbody
    %tr
      %td 
        %h4 Item
      %td 
        %h4 Description
      %td 
        %h4 Price
      %td 
        %h4 Quantity
    - @cart.items.each do |item|
      %tr{:class => "item item-#{item.id}"}
        %td= item.name
        %td= item.description
        %td= item.price
        %td
          = form_tag('/cart', method: :put) do
            = hidden_field_tag :item_id, item.id
            = label_tag :quantity, 'Quantity: '
            = number_field_tag :quantity, @cart.contents[item.id.to_s], {min: 1}
            = submit_tag 'Update Quantity'
%h3= "Total: $#{@cart.total_price}"
