%h1 Your Cart
- @cart.items.each do |item|
  %div{class: "item item-#{item.id}"}
    %p= item.name
    %p= item.description
    %p= item.price
    .quantity
      = form_tag('/cart', method: :put) do
        = hidden_field_tag :item_id, item.id
        = label_tag :quantity, 'Quantity: '
        = number_field_tag :quantity, @cart.contents[item.id.to_s]
        = submit_tag 'Update Quantity'
      -# %p= "Quantity: #{}"
%h3= "Total: $#{@cart.total_price}"
