%h1 Orders

%table{:board => 0, :class => "table table-striped"}
  %tbody
    %tr
      %td
        %h4 Order ID
      %td
        %h4 User
      %td
        %h4 Status
      %td
        %h4 Actions
    - @orders.each do |order|
      %tr{:class => "order order-#{order.id}"}
        %td= order.id
        %td= order.user_id
        %td= order.status
        %td
          = form_for [:admin, order] do |f|
            .form_group
              = f.collection_select(:status, order.available_status, :first, :first, selected: order.status)            
            = f.submit