!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LittleShop
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      = render "shared/accounts-nav"
      %nav
        %ul
          %li.dropdown
            %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
              Categories
              %b.caret
            %ul.dropdown-menu{"role" => "menu"}
              =categories.each do |category|
                %li
                  = link_to category.name, category_path(category)
    = render "shared/flash"
    = yield
